/* cores */
:root { 
  --w3-green: #04AA6D;
  --w3-dark: rgb(40, 42, 53);
  --w3-white-green: #d9eee1;
  --w3-yellow:#FFF4A3;
  --w3-pink: #FFC0C7;
}

body { 
    margin: 0; 
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
}

header {
   position: fixed;    /* Fixa o elemento na tela */
   top: 0;            
   left: 0;            
   width: 100%;        /* Faz ocupar toda a largura */
}

.header-cima {
  background: #fff;
  height: 56px;
  display: flex;
  align-items: center;
}

.conteudo-header-cima {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 45px; /* Margem lateral*/
}

.item-nav-direita , .item-nav-esquerda, .botao-sign-in, .bara-pesquisa input {
    flex-shrink: 0;    /* Impede que o texto esmague; se não couber, ele pula de linha */
}

.conteudo-header-cima-esquerda, .conteudo-header-cima-direita {
  display: flex;
  align-items: center;
  gap: 12px; /* espaçamento de linhas*/
  margin-left: 0;
  margin-right: 0;
}

.logo-imagem{
  height: 36px;
  padding: 8px 16px;
 }

.item-nav-esquerda, .item-nav-direita {
  font-size: 15px;
  cursor: pointer;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.bara-pesquisa {
  height: 27px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 4px 12px;
}

.bara-pesquisa input {
  border: none;
  outline: none;
  width: 100px;
  font-style: italic;
  margin-top: 2px; /* para centralizar verticalmente*/
}

.botao-pesquisa {
  background-color: white;
  color: black;
  width: 18px;
  height: 20px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  margin-top: 2px; /* para centralizar verticalmente*/
}

/* BOTão DA DIREITA */

.botao-sign-in {
  height: 42px;
  background-color: var(--w3-green);
  color: white;
  padding: 5px 26px;
  border-radius: 7px;
  border: none;
  font-weight:bolder;
  cursor: pointer;
}

/* SUB HEADER PRETO */
.header-baixo {
  background-color: var(--w3-dark);
  overflow-x: auto; /* Permite rolar se a tela for pequena */

  scrollbar-width: none; 
  -ms-overflow-style: none;
}
/* tira a barra de rolagem */
.header-baixo::-webkit-scrollbar {
    display: none;
}

.item-nav-baixo {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0px 15px;
}

.item-nav-baixo a {
  color: white;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.item-nav-baixo a:hover {
  background-color: #000;
}

svg {
  margin: 0;
}

.fundo-cinza {
    width: 100%;
    background-color: var(--w3-dark);
    
    padding: 80px 0;
}

.conteudo-fundo-cinza {
  display: flex;
  flex-direction: column; /* elementos em coluna */
  align-items: center; /* centraliza horizontalmente por causa da coluna */
  color:white;
  padding: 0 35px;
}

.conteudo-fundo-cinza h1 {
  margin-top: 100px;
  font-size: 65px;
  margin-bottom: 5px;
  text-align: center;
}

.conteudo-fundo-cinza h3{
  color: var(--w3-yellow);
  font-size: 21px;
  margin-bottom: 40px;
}

.barra-pesquisa-grande {
  display: flex;
  width: 100%;
  max-width: 500px; /* Largura máxima da barra */
  height: 45px;
  background-color: white;
  border-radius: 25px; 
  overflow: hidden;
  margin-bottom: 27px;
}

.barra-pesquisa-grande input {
    flex: 1; /* faz o input esticar para ocupar todo espaço*/
    border: none;
    outline: none;
    padding-left: 25px;
    font-size: 17px;
}

.barra-pesquisa-grande button {
  background-color: var(--w3-green);
  color: white;
  border: none;
  width: 101px;
  cursor: pointer;
  font-size: 20px;
}

.barra-pesquisa-grande button:hover {
  background-color:#059862;
}

.conteudo-fundo-cinza a {
  text-decoration:underline;
  font-weight: bold;
  font-size: 21px;
  margin-top: 10px;
}

.conteudo-fundo-cinza a:hover {
  color: var(--w3-yellow);
}

.fundo-verde {
    background-color: var(--w3-white-green);
    margin-top: -10px;


    width: 100%;
    height:auto;
    min-height: 575px; /* para evitar cortes em telas menores */
    gap: 20px;

}

.conteudo-fundo-verde {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 32px 0;
  flex-wrap: wrap;
}

.conteudo-fundo-verde-esquerda {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.conteudo-fundo-verde-esquerda h1 {
  font-size: 90px;
  font-weight: 700;
  margin-top:-18px;
  margin-bottom: 0;
  text-align: center;
}

.conteudo-fundo-verde-esquerda p {
  font-size:17px;
  font-weight: bold;
}

.conteudo-fundo-verde-esquerda a, .botao-tryit{
    display: block;
    width: 175px; /* Largura fixa para os botões da esquerda */
    height: 18px;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-radius: 25px;
    margin-bottom: 6px;
    font-weight: bold;
}

.html-botao-verde {
  background-color: var(--w3-green);
  color: white;
}

.html-botao-amarelo {
  background-color: var(--w3-yellow);
  color: black;
}

.html-botao-cinza {
  background-color: var(--w3-dark);
  color: white;
}

.html-botao-rosa {
  background-color: var(--w3-pink);
  color: black;
}

.bloco_codigo {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  border-radius: 5px;
  background-color: #E7E9EB;
  color: #000;
  display: block;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  width: 430px;
}

.bloco_codigo .dentro_bloco_codigo {
  border-left: 4px solid var(--w3-green);
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 15px;
}

img, .bloco_codigo {
    max-width: 100%;
    height: auto;
}

.mobile-menu, .mobile-pesquisa {
    display: none; 
}


.icone-3-pontos { 
  display: block; 
  cursor: pointer; 
  padding: 10px; 
}

@media (max-width: 1350px) {
    .item-nav-direita:nth-child(1) {
        display: none;
    }
}

@media (max-width: 1260px) {
    .item-nav-direita:nth-child(2){
        display: none;
    }
}

@media (max-width: 1170px) {
    .item-nav-direita:nth-child(3) {
        display: none;
    }
}

@media (max-width: 1080px) {
    .item-nav-direita:nth-child(4) {
        display: none;
    }
}
@media (max-width: 1000px) {
    .item-nav-esquerda:nth-child(5) {
        display: none;
    }
}

@media (max-width: 870px) {
    .bara-pesquisa {
        display: none;
    }

    .mobile-pesquisa { 
        display: block;
        font-size: 18px; 
    }
}

@media (max-width: 825px) {
    .item-nav-direita:nth-child(4) {
        display: block;
    }
    
}

@media (max-width: 775px) {
    .item-nav-esquerda:nth-child(4),
    .item-nav-esquerda:nth-child(3),
    .item-nav-esquerda:nth-child(2) {
        display: none;
    }
    .mobile-menu { 
        display: block; 
    }

    .bara-pesquisa {
        display: block;
    }

    .mobile-pesquisa { 
        display: none;
    }
    .conteudo-fundo-cinza h1 {
      font-size: 55px;
    }
    .conteudo-fundo-verde-esquerda h1{
      font-size: 50px;
    }

    body .conteudo-header-cima {
      padding: 0 10px;
    }
}

@media (max-width: 700px) {
    .icone-3-pontos { display: none; } 
    
}

@media (max-width: 660px) {
    .item-nav-direita:nth-child(4) {
        display: block;
    }
    .bara-pesquisa {
        display: none;
    }

    .mobile-pesquisa { 
        display: block; 
        font-size: 18px;
    }
}

@media (max-width: 600px) {
    .conteudo-fundo-verde-direita {
      display: none;
    }

    .conteudo-fundo-cinza h1 {
      font-size: 45px;
    }

    .conteudo-fundo-cinza h3 {
      font-size: 19px;
      text-align: center;
    }
}
@media (max-width: 530px) {
    .item-nav-direita:nth-child(4) {
      display: none;
    }
  }

@media (max-width: 450px) {
    .item-nav-direita:nth-child(5) {
        display: none;
    }
}

/* 
parte do JAVASCRIPT
*/

#resultado {
    margin-top: 20px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.artigo-w3 h2 {
    color: #28a745; /* Verde clássico de tutoriais */
    font-size: 28px;
    margin-bottom: 15px;
}

.logo-linguagem {
    max-width: 120px;
    height: auto;
    float: right; /* Faz o texto contornar a imagem lateralmente */
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.descricao {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.link-leia-mais {
    display: inline-block;
    margin-top: 15px;
    color: #04AA6D;
    text-decoration: none;
    font-weight: bold;
}

.link-leia-mais:hover {
    text-decoration: underline;
}
